# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# Environment variables / secrets
.env
.env.*

# macOS
.DS_Store

# IDE
.idea/
.vscode/

# Logs
*.log

# Redis data
dump.rdb
appendonly.aof

# sqlite3
*.sqlite3
