Package             Version
------------------- -------
asgiref             3.12.1
Django              6.1
djangorestframework 3.18.0
pip                 25.0.1
PyJWT               2.13.0
redis               8.1.0
sqlparse            0.5.5
